extends /layout


block header
  p 
    a(href="/questionnaires") &laquo; アンケート一覧
    | &gt;

    a(href="/questionnaires/#{questionnaire_id}/") アンケート

    // / あたりちゃんと作らないとだめ   or strict mode

block content



  h2 アンケートに対する回答者一覧
  ul
    each answer in answers
      li
        a(href="/questionnaires/#{questionnaire_id}/answers/#{answer._id}")= answer._id + "(" + answer.answerer.email + " " + answer.answers.length +")"


  h2 アンケートの集計結果

  div
    table
      each question in questions
        tr
          td=question.question.choices.left
          td=question.average
          td=question.std
          td
            div.higeMeter__box
              - var ave_per = question.average*100/2 + 50;
              - var var_per = question.std*100/2;
              div.higeMeter__meter(style="left:#{ave_per}%; width:#{var_per*2}%; margin-left:#{-var_per}%;")

                div.higeMeter__point



            
          td=question.question.choices.right


